<div class="card-container">
  <div class="card">
    <img src="/images/spaceport.jpg" class="card-img-top" alt="Spaceport" />
    <div class="card-body">
      <h5 class="card-title">Spacepot</h5>
      <p class="card-text">
        全台首個環保音樂祭，透過音樂宣揚環保，帶來全新的音樂體驗，邊聽音樂邊愛地球
      </p>
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal1"
      >
        詳細內容
      </button>
    </div>
  </div>

  <div class="card">
    <img src="/images/mastercup2k23.jpg" class="card-img-top" alt="Spaceport" />
    <div class="card-body">
      <h5 class="card-title">Master Cup 2022</h5>
      <p class="card-text">
        與知名籃球活動 2k23
        合作，打造全台巡迴電競車，與各地高手一同過招，爭搶最強聯盟冠軍
      </p>
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal2"
      >
        詳細內容
      </button>
    </div>
  </div>

  <div class="card">
    <img src="/images/GQ.jpg" class="card-img-top" alt="Spaceport" />
    <div class="card-body">
      <h5 class="card-title">GQ Festival 2023</h5>
      <p class="card-text">
        GQ 潮流文化季，跟著全台最潮、最酷的潮流玩家們一起體驗！
      </p>
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal3"
      >
        詳細內容
      </button>
    </div>
  </div>

  <div class="card">
    <img src="/images/SF6.jpg" class="card-img-top" alt="Spaceport" />
    <div class="card-body">
      <h5 class="card-title">StreetFighter6 聯名活動</h5>
      <p class="card-text">
        與街頭快打6聯名合作，打造聯名產品並舉辦街頭挑戰賽，邀請好手挑戰世界冠軍石油王
      </p>
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal4"
      >
        詳細內容
      </button>
    </div>
  </div>

  <div class="card">
    <img src="/images/Macau_gp.jpg" class="card-img-top" alt="Spaceport" />
    <div class="card-body">
      <h5 class="card-title">Macau Grand Prix</h5>
      <p class="card-text">
        贊助車廠挑戰澳門 Grand Prix 大獎賽，與保時捷合作一同為台灣爭冠
      </p>
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal5"
      >
        詳細內容
      </button>
    </div>
  </div>

  <div class="card">
    <img src="/images/mastercup2023.jpg" class="card-img-top" alt="Spaceport" />
    <div class="card-body">
      <h5 class="card-title">Master Cup 2023</h5>
      <p class="card-text">
        與 Apex Legend
        合作，徵招全台好手一同挑戰，從線上賽脫穎而出的選手們則能參加位於 SKM
        Park 的線下挑戰賽，取得大師盃冠軍獎座！
      </p>
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal6"
      >
        詳細內容
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Spaceport</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        This is a project for our marketing event<img
          class="modal-image"
          src="/images/spaceport.jpg"
          alt="Spaceport"
        />
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Master Cup 2022</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        This is a project for our marketing event<img
          src="/images/sakura.jpg"
          alt="Japan Travel"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal3"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          GQ Festival 2023
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        This is a project for our marketing event<img
          src="/images/sakura.jpg"
          alt="Japan Travel"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal4"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">CM X SF 6</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        This is a project for our marketing event<img
          src="/images/sakura.jpg"
          alt="Japan Travel"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal5"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Macau Grand Prix
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        This is a project for our marketing event<img
          src="/images/sakura.jpg"
          alt="Japan Travel"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal6"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Master Cup 2023</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        This is a project for our marketing event<img
          src="/images/sakura.jpg"
          alt="Japan Travel"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
