<footer>
  <div class="icon-container">
    <a href="https://www.facebook.com/lawrence.wu.3910/" target="_blank"
      ><img class="social-logo" src="/images/logos/fb_logo.png"
    /></a>
    <a href="https://github.com/lawrence565?tab=repositories" target="_blank"
      ><img class="social-logo" src="/images/logos/github_logo.jpg"
    /></a>
    <a href="mailto:lawrence891106@gmail.com" target="_blank">
      <img class="social-logo" src="/images/logos/Gmail-logo.png" />
    </a>
    <a
      href="https://www.linkedin.com/in/lawrence-wu-a73822225/"
      target="_blank"
    >
      <img class="social-logo" src="/images/logos/linkedin-logo.svg" />
    </a>
  </div>
  <form class="contact-form" action="/message" method="get">
    <h3>聯絡我</h3>
    <div class="basic-info">
      <div class="name">
        <input type="text" name="name" placeholder="姓名：" />
      </div>
      <div style="width: 20"></div>
      <div class="phone">
        <input type="tel" name="phone" placeholder="電話：" />
      </div>
    </div>
    <div class="email">
      <input type="email" name="email" placeholder="郵件：" />
    </div>
    <div class="message">
      <textarea
        rows="3"
        type="text"
        name="message"
        placeholder="請留下訊息："
      ></textarea>
    </div>
    <button
      class="btn btn-primary submit"
      type="submit"
      onclick="alert('已收到您的表單，即將回到首頁')"
    >
      送出
    </button>
  </form>
</footer>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
