<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ping Yao Wu's Website</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Lawrence's page</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">首頁</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">關於我</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">作品集</a>
            </li>
          </ul>
          <!-- <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button> 
          </form>-->
        </div>
      </div>
    </nav>

    <!-- This is the section of my name and thumbnail -->
    <section id="briefContainer">
      <div id="text-container">
        <div id="name">
          <h1 class="title">Lawrence Wu</h1>
          <h1 class="title">吳秉耀</h1>
        </div>
        <p>
          我是一個畢業於廣告系的網頁前端工程師，在踏進網頁開發後便無法自拔。
          <br />
          喜歡透過技術建立各種應用解決問題，讓生活變得更加便利
        </p>
        <a class="btn btn-primary" href="/about">前往關於頁面</a>
      </div>
      <div id="img-container">
        <img src="/images/icon.jpg" alt="Mt thumbnail" />
      </div>
    </section>

    <div id="project-card">
      <h1>過去活動經驗</h1>
      <%- include("card.ejs") %>
      <p>右滑以看更多→</p>
    </div>

    <%- include("./Partials/footer.ejs") %>
  </body>
</html>
