<section>
  <div class="resume-container">
    <div class="education">
      <h1>Education</h1>
      <hr />

      <div class="nccu college">
        <h3 class="college-title">
          國立政治大學
          <p class="english-name">National Chengchi University</p>
        </h3>
        <ul class="academy">
          <li>主修廣告系、輔修日文系</li>
          <li>
            修習資訊相關課程
            <ul>
              <li>基礎程式設計</li>
              <li>進階程式設計</li>
              <li>資料結構與演算法</li>
              <li>資料分析與程式設計入門</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="ntnu college">
        <h3 class="college-title">
          國立臺北科技大學
          <p class="english-name">Nationl Taipei University of Technology</p>
        </h3>
        <ul class="academy">
          <li>
            修習資訊相關課程
            <ul>
              <li>計算機概論</li>
              <li>計算機組織</li>
              <li>線性代數</li>
              <li>機率與統計</li>
              <li>物件導向程式設計</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="ntub college">
        <h3 class="college-title">
          國立臺北商業大學
          <p class="english-name">Nationl Taipei University of Business</p>
        </h3>
        <ul class="academy">
          <li>
            修習資訊相關課程
            <ul>
              <li>程式設計（一）</li>
              <li>程式設計（二）</li>
              <li>作業系統</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="experience">
      <h1>Experience</h1>
      <hr />
      <div class="job frontend-project">
        <h3 class="company">
          前端專案 Projects
          <p class="job-title">自學專案</p>
        </h3>
        <ul>
          <li>
            <h3 class="title">
              自我介紹網站/
              <a href="https://www.google.com.tw/" target="_blank">網站連結</a>
            </h3>
            <p>
              使用 EJS 套件製作 SSR 個人網站，在過程中學習搭建簡單的後端、使用
              EJS
              模版化的特性打造具有重複性組件的個人網站。內容包括過去經驗、個人履歷期間透過
              Linux 搭配 Nginx 在 VMWare 中搭建簡單的網路伺服器提供服務。
            </p>
          </li>
          <li>
            <h3 class="title">
              電商網站/
              <a href="https://www.google.com.tw/" target="_blank">網站連結</a>
            </h3>
            <p>
              以 React 作為前端框架，搭配 Node.js 與 PostgreSQL
              搭建後端。在專案中實作輪播版位、串接 API、購物車與加載畫面等 CRUD
              功能。
            </p>
          </li>
        </ul>
      </div>

      <div class="job marketing-specialist">
        <h3 class="company">
          Cooler Master
          <p class="job-title">Marketing Specialist</p>
        </h3>
        <ul>
          <li>
            <h3 class="title">職務內容</h3>
            <p>參與行銷企劃並規劃線上、線下活動，執行專案。</p>
          </li>
          <li>
            <h3 class="title">活動經驗</h3>
            <p>
              參與 Grand Prix 大獎賽、音樂祭、GQ
              潮流文化季並獨立舉辦電競比賽等，結合品牌產品打造獨特體驗，以<span>沈浸式行銷</span>的方式透過產品帶給消費者獨一無二的體驗。詳細內容可參考首頁活動卡片。
              <br />
              在活動過程中協助設計師透過
            </p>
          </li>
        </ul>
      </div>

      <div class="job socialmarketing-intern">
        <p class="company job-title">Social Marketing Intern</p>
        <ul>
          <li>
            <h3 class="title">職務內容</h3>
            <p>
              規劃社群內容，包括貼文排程、社群內容、圖文製作與活動現場紀錄。
            </p>
          </li>
          <li>
            <h3 class="title">活動經驗</h3>
            <p>
              曾經手暑期創客營、電競比賽、音樂祭活動等相關活動社群貼文，隨著活動日程規劃社群內容排程，同時製作圖文影等相關內容，
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
