.message-container {
  margin-top: 2rem;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.message-card {
  min-height: 20vh;
  height: fit-content;
  overflow-y: scroll;
  max-width: 500px;
  width: 25vw;
}

.message {
  min-height: 60px;
}

.message-content {
  height: fit-content;
  overflow-y: visible;
}

.contact {
  padding: 0;
  height: fit-content;
  font-size: smaller;
}

.time {
  padding: 0;
  font-size: smaller;
  height: fit-content;
}

@media screen and (min-width: 451px) and (max-width: 1100px) {
  .message-container {
    grid-template-columns: 1fr 1fr;
  }

  .message-card {
    width: 35vw;
  }
}

@media screen and (max-width: 450px) {
  .message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .message-card {
    height: fit-content;
    max-width: 500px;
    width: 80vw;
  }
}
